<div class="list-container">
    <div class="sets-sidebar">
        <div class="sidebar-header">
            <span class="sidebar-title">Sets</span>
        </div>
        <div class="sets-list">
            @for (set of setList; track $index) {
            <div class="set-item" (click)="cardService.updateCardList(set)">
                <span class="status-dot" [ngClass]="setService.getStatusColor(set)"></span>
                <div class="set-icon-wrapper">
                    <img [src]="set.icon_svg_uri" alt="" class="set-icon" />
                </div>
                <span class="set-name">{{ set.name }}</span>
            </div>
            }
        </div>
    </div>
    <app-card-overview class="card-overview-panel" />
</div>