.img-limit {
    max-width: 30px;
    max-height: 30px;
    object-fit: contain; // Optional: keeps aspect ratio nice
}
.set {
    display: flex;
    align-items: center;
    gap: 0.75rem; // space between image and heading
}
mat-list {
    overflow: auto;
    height: 95%;
}
.list-container {
    display: flex;
    height: 90%;
}
